<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="yanu">

  <!-- panda -->

  <xacro:include filename="$(find franka_description)/robots/panda/panda.urdf.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/common/hand.urdf.xacro"/>

  <material name="green">
    <color rgba="0 1 0.0 1"/>
  </material>

  <link name="yanu_base_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0.826"/>
      <geometry>
        <mesh filename="package://yanu_description/meshes/yanu.stl" scale="0.001 0.001 0.001"/>
      </geometry>
	<material name="green"/>
    </visual>
      <collision>
        <geometry>
          <mesh filename="package://yanu_description/meshes/yanu.stl" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
  </link>

  <joint name="yanu_base_to_panda" type="fixed">
    <parent link="yanu_base_link"/>
    <child link="panda_link0"/>
    <origin xyz="0 0 0.826" rpy="0 0 0"/>
  </joint>

  <joint name="hand_to_panda" type="fixed">
    <parent link="panda_link8"/>
    <child link="panda_hand"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>
